<div id="carouselExampleAutoplaying mt-4" class="carousel slide is-success" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="1000">
      <img style="height: 350px;"
        src="https://c8.alamy.com/comp/BKCWNT/document-file-box-file-office-supply-paperwork-filing-folder-BKCWNT.jpg"
        class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img style="height: 350px;" src="https://www.nicepng.com/png/full/260-2604624_box-file-image-png.png"
        class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img style="height: 350px;"
        src="https://img2.exportersindia.com/product_images/bc-full/2020/12/3933605/bf002_1--1609075031.jpg"
        class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>