.nav-bg {
  /* background-color: chartreuse; */
  background-image: linear-gradient(45deg, #553c9a, #ee4b2b);
}

.fixed {
  position: sticky;
}

p,label {

  fill: white;
  font-size: "20";
  -webkit-text-fill-color: #e6e9e0;
}
