<div class="bg">
  <app-modal *ngIf="message" [message]="message"></app-modal>
  <h3 class="d-flex justify-content-center"> Login</h3>
  <div class="container fluid d-flex justify-content-center">
    <form [formGroup]="adduserForm" style="border: 1px solid; width: 45%; "
      class="p-3 form rounded shadow bg-body-tertiary is-dark" (ngSubmit)="login()">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input formControlName="email" style="width: 100%;" type="email" class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input style="width: 100%;" formControlName="password" type="password" class="form-control"
          id="exampleInputPassword1" placeholder="Password">
      </div>
      <label class="my-3"> Not Registered?</label><a routerLink="register" type="submit"
        class=" ">Click here</a>
      <button type="submit" class="btn btn-primary my-2 d-flex" style=" margin-left: auto;">Login</button>
    </form>
  </div>
</div>