.bg {
  /* margin-top: 778px; */
  background-size: 100%;
  background-size: cover;
  height: 575px;
  color: #fff;
  background-image: url("https://t3.ftcdn.net/jpg/03/70/92/84/240_F_370928450_R6g8c0j5cey86PUXE32W7KMiqIUe1fOI.jpg");
}

label {
  fill: rgba(12, 11, 11, 0.479);
  font-size: "20";
  -webkit-text-fill-color: #641fee;
}
